<% @bookmarks_posts.each do |post| %>
  <div class = "index-border">
    <div class = "d-flex">
      <div class ="user"><%= link_to public_customer_path(post.customer) do %>
        <%= image_tag post.customer.get_image(120,110), style: "border-radius: 50%; width: 80px; height: 80px; object-fit:cover; margin-left: 20px; border: solid 3px #BAD3FF;" %>
        <% end %>
      </div>


      <% post.post_images.each do |image| %>
        <div class = "bkm-image">
          <%= link_to public_post_path(post.id) do %>
            <%= image_tag image,class: "img-fluid rounded", style: "width: 150px; height: 150px; object-fit: cover; margin: 10px 10px;" %>
          <% end %>
        </div>
      <% end %>
    </div>

      <div class = "introduction"><%= post.introduction %></div>

    <%= render "public/posts/post.information", posts: post %>
 </div>
<% end %>
