<%= form_with model: @customer,url: public_customer_path, method: :patch do |f| %>
<div class = "vertical-line">
  <div class="field">
    <%= f.label :image, "画像" %> <br>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= f.label :name, "名前" %> <br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :profile, "プロフィール", class: "form-label" %> <br>
      <div class="form-group row">
        <div class="col-8 col-md-6">
          <%= f.text_area :profile, autofocus: true, class: "w-100" %>
        </div>
      </div>
  </div>

  <div class="field">
    <%= f.label :area, "エリア" %> <br>
    <%= f.text_field :area, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %> <br>
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class = "edit-link">
    <span>
      <%= f.submit "変更", class: 'btn btn-info' %>
    </span>
      <%= link_to public_customer_customers_confirm_path(current_customer.id) do %>
       <button class="btn btn-outline-dark">退会</button>
      <% end %>
  </div>
</div>
<% end %>