<div class ="d-block d-md-flex">
  <div class = "w-100 w-md-50">
    <div class = "profile-image">
      <%= image_tag @customer.get_image(400,350), class: "img-fluid d-block", style: "width: 400px;border-radius: 5px; object-fit: cover;"%>
    </div>
  </div>
  <div class = "w-100 w-md-50">

    <div class = "profile">
      <i class="fa-solid fa-address-card" style="color: #4771b8;"></i>
      <%= @customer.name %>


        <span class = "profile-information">
          <i class="fa-solid fa-location-dot" style="color: #4771b8;"></i>
          <%= @customer.area %>
        </span>

        <% if @customer == current_customer %>
          <i class="fa-solid fa-envelope" style="color: #4771b8;"></i>
          <%= @customer.email %>
        <% end %>

        <br>
      <div class = "customer-profile">
        <%= @customer.profile %>
      </div>
    </div>
  </div>
</div>



<br>

<!-- タブ -->
<div class="tabs">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#section1"><i class="fa-solid fa-file-pen" style="color: #3362f0;"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#section2"><i class="fa-solid fa-star" style="color: orange;"></i></a>
    </li>
  <% if @customer == current_customer %>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#section3"><i class="fas fa-user-cog"></i></a>
    </li>
  <% end %>
  </ul>

  <div class="tab-content">
    <div id="section1" class="tab-pane show active">
      <%= render "myposts", posts: @posts %>
    </div>
    <div id="section2" class="tab-pane">
      <%= render "bookmarks", bookmarks_posts: @bookmarks_posts %>
    </div>

    <% if @customer == current_customer %>
    <div id="section3" class="tab-pane">
      <%= render "edit", customer: @customer %>
    </div>
    <% end %>
  </div>
</div>


<%= render "public/posts/newpost" %>