<div class="d-flex">
  <% if customer_signed_in? %>

  <div class="index-bkm-btn">
    <div id="bookmark_btn_<%= posts.id %>">
      <%= render "public/bookmarks/bookmark", post: posts %>
    </div>
  </div>
  <% end %>
  <div class = "index-category">
    <i class="fa-solid fa-tag" style="color: #4771b8;"></i>
    <%= posts.category_i18n %>
   </div>
  <div class = "index-time">
    <i class="fa-regular fa-clock" style="color: #4771b8;"></i>
    <%= posts.created_at.strftime('%Y/%m/%d %H:%M') %>
  </div>

    <% if current_customer && current_customer.id == posts.customer.id %>
    <div class ="index-trash">
    <span><%= link_to public_post_path(posts), method: :delete, data: { confirm: '本当に消しますか？' } do %>
      <i class="fa-solid fa-trash" style="color: #d64359;"></i>
      </div>
      <% end %>
    </span>
  <% end %>
</div>