  <table>

    <%# if @customer.is_deleted: false %>
      <% @posts.each do |posts| %>

        <tr>
          <td class = "user"><%= link_to public_customer_path(posts.customer) do %>
            <%= image_tag posts.customer.get_image(80,80), style: "border-radius: 50%; width: 80px; height: 80px; object-fit:cover;" %>
            <% end %>
          </td>

          <td class = "title-image"><%= link_to public_post_path(posts.id), remote: true do %>
            <%= image_tag posts.get_post_images[0], size:'150x130',class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
            <% end %>
          </td>

          <td class = "introduction"><%= safe_join(posts.introduction.split("\n"),tag(:br)) %></td>

        <br>
          <td class = "bookmark_btn">
            <div id="bookmark_btn_<%= posts.id %>">
              <%= render "public/bookmarks/bookmark", post: posts %>
            </div>
          </td>

          <td class = "index-category"><%= posts.category_i18n %></td>
        </tr>
      <%# end %>
    <% end %>
  </table>
  <%= paginate @posts %>


<%= render "newpost" %>

