<% @posts.each do |posts| %>
  <div class = "index-box">
    <div class = "d-flex">
      <div class = "index-customer-image">
        <%= link_to public_customer_path(posts.customer) do %>
          <%= image_tag posts.customer.get_image(80,80), style: "border-radius: 50%; width: 80px; height: 80px; object-fit:cover; border: solid 3px #BAD3FF;" %>
        <% end %>
      </div>

      <div class = "index-introduction">
        <%= safe_join(posts.introduction.split("\n"),tag(:br)) %>
      </div>
    </div>

      <div class = "d-flex">
        <div class = "index-post-image">
          <% posts.post_images.each do |image| %>
              <%= link_to public_post_path(posts.id) do %>
              <%= image_tag image,class: "img-fluid rounded", style: "width: 200px; height: 200px; object-fit: cover; margin: 10px 0;" %>
            <% end %>
          <% end %>

          <% if posts.get_post_images.count >= 2 %>
          <!--↑画像が複数存在したら↓アイコン表示-->
          <div class ="text-center">
            <i class="fa-solid fa-ellipsis"></i>
          </div>
          <% end %>

        </div>
      </div>

      <%= render "public/posts/post.information", posts: posts, customers: @customers %>

  </div>
<% end %>


<%= paginate @posts %>
<%= render "newpost" %>