  <div class = "post">
    <%= render "layouts/errors", post: @post %>
      <%= form_with model: @post,url: public_posts_path, method: :post, local: true do |f| %>

        <%= f.label :post_images, "投稿画像" %><br>
        <%= f.file_field :post_images, id:"item-image",multiple: true %>

        <p class ="sheets">※最大3枚まで※</p>
        <div class = "image-list" id="image-list"></div>
        <div class = "preview-box">
          <div id="post_images" style="display: none;">
            <p id="preview"></p>
          </div>
        </div>

        <br>

        
        <%= f.label :introduction,"投稿文", class: "form-label" %><br>
        <div class="form-group row">
          <div class="col-8 col-md-6">
            <%= f.text_area :introduction,placeholder: "どうかしましたか？", id:"customer-introduction", maxlength: "300", class: "w-100" %>
          </div>
        </div>
        <div class = "category-flex">
          <p>カテゴリー</p>
          <%= f.radio_button :category, Post.categories.key(0) %>
          <%= f.label :category_searching,Post.categories_i18n[:searching] %>

          <%= f.radio_button :category, Post.categories.key(1) %>
          <%= f.label :category_welcome,Post.categories_i18n[:welcome] %>

          <%= f.radio_button :category, Post.categories.key(2) %>
          <%= f.label :category_protection,Post.categories_i18n[:protection] %>

          <%= f.radio_button :category, Post.categories.key(3) %>
          <%= f.label :category_others,Post.categories_i18n[:others] %>
          <br>
          <%= f.submit '投稿', class: 'btn btn-info' %>
        </div>
      <% end %>
    <%= render "loadimage" %>

    <br>
    <%= link_to "・初めてお迎えを希望する方へ", homes_notes_path %>
  </div>