<p id="notice"><%= notice %></p>
  <div class ="post_flex">
    <%= image_tag @post.get_post_images[0], size:'400x400' ,class: "img-resize, rounded mx-auto d-block", style: "object-fit: cover;" %>
  <br>
    <table class = "table">
      <tr>
        <td class = "icon"><i class="fa-solid fa-pen" style="color: #4771b8;"></i></td>
        <td><%= @post.introduction %>

        <br>

        <div class = "clock">
          <i class="fa-regular fa-clock" style="color: #4771b8;"></i>
          <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>


        <div class = "category-icon">
          <i class="fa-solid fa-tag" style="color: #4771b8;"></i>
          <%= @post.category_i18n %></div>
          <div class = "btn-trash">
            <div class = "bkm-btn">
              <div id="bookmark_btn_<%= @post.id %>">
                <%= render "public/bookmarks/bookmark", post: @post %>
              </div>
            </div>
              <div class = "trash">
                <% if @post.customer == current_customer %>
                  <%= link_to public_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' } do %>
                    <i class="fa-solid fa-trash" style="color: #d64359;"></i>
                  <% end %>
                <% end %>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
    <div id="comment-form">
      <%= render "comments/comment_form", post: @post, comment: @comment %>
    </div>
    </td>
    </tr>
    </table>
</div>

  <br>

    <div id="comments">
      <%= render "comments/index", post: @post, comment: @comment %>
    </div>
  <br>

  <%= render "newpost" %>