<%= render "layouts/errors", post: @comment %>
<div class = "comment-form">

  <%= form_with model: [post, comment], local: false , class: "form-inline" do |f| %>
  <div class="form-group d-flex align-items-end ">
    <%= f.text_area :comment, size:'45' ,placeholder: "コメントを追加" %>
  <div class ="ml-3">
    <%= f.submit "送信", class: "btn btn-outline-primary" %>
  </div>
  </div>
</div>
  <% end %>
</div>
<div class = "text-center">
  コメント件数：<%= post.comments.count %>
</div>