<div>
  <p>コメント件数：<%= post.comments.count %></p>

  <% post.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_image(100,100) %></p>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
