
<div class = "container"></div>
  <div class = "row"></div>
  <div class = "col-9">
    <div class = "slider">
      <%= image_tag asset_path('AdobeStock_2574368652.jpg') %>
      <%= image_tag asset_path('AdobeStock_3549740762.jpg') %>
      <%= image_tag asset_path('AdobeStock_3831906402.jpg') %>
    </div>
  </div>

<div class = "about" >
  <h3>Find family</h3>
  <p>あなたの大事な家族が見つかりますように。</p>
</div>

  <div class = "d-block d-md-flex">
    <div class = "purpose">
      <div class="mx-auto" style="width: 200px;">
        <%= image_tag asset_path("yellow.jpg"),class: "mx-auto img-fluid rounded", style: "height: 200px; object-fit: cover;" %>
      </div>
      <b><p class = "title">お探しですか？</p></b>
      <p>心配でしょうがないと思います。大事な家族をいち早く見つけられるよう、仲間と情報交換をしていきましょう。</p>
    </div>
      <div class = "purpose">
        <div class="mx-auto" style="width: 200px;">
          <%= image_tag asset_path("pink.jpg"),class: "img-fluid rounded", style: "height: 200px; object-fit: cover;" %>
        </div>
        <p class = "title"><b>家族をお迎え</b></p>
        <p>わくわく感であったり不安であったり、様々な思いがあるかと思います。きっと良き相談相手が見つかるはずです。</p>
      </div>
        <div class = "purpose">
          <div class="mx-auto" style="width: 200px;">
            <%= image_tag asset_path("red.jpg"),class: "img-fluid rounded", style: "width: 200px; height: 200px; object-fit: cover;" %>
          </div>
          <p class = "title"><b>保護</b></p>
          <p>保護後の行動、飼い主の有無、とにかく情報が必要かと思います。あなただけで頑張る必要はありません。</p>
        </div>
  </div>
  <div class = "background">
  </div>