<table>

  <!--検索対象モデルがCustomerの時 -->

  <% if @range == "Customer" %>

      <tbody>
        <% @customers.each do |customers| %>
          <tr>
            <td class = "search-image"><%= link_to public_customer_path(customers.id) do %>
              <%= image_tag customers.get_image(150,150), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover; border: solid 3px #BAD3FF;" %>
              <% end %>
              </td>
            <td class = "search-name"><%= customers.name %></td>

            <td class = "search-profile"><%= customers.profile %></td>

            <td class = "search-area"><%= customers.area %></td>
          </tr>
        <% end %>
      </tbody>

    <% else %>
    <!--検索対象モデルがPostのとき -->
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class = "search-image"><%= link_to public_post_path(post.id) do %>
            <%= image_tag post.get_post_images[0], size:'150x150', class: "img-resize, rounded d-block", style: "object-fit: cover;" %>
            <% end %>
          </td>

          <td class = "search-introduction"><%= post.introduction %></td>

          <td class = "search-category">
            <i class="fa-solid fa-tag" style="color: #4771b8;"></i>
            <%= post.category_i18n %>
          </td>

        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>