  <nav class="navbar navbar-expand-lg navbar-dark">
    <span>
      <!--ロゴ部分-->
        <div class="logo">
          <% if admin_signed_in? %>
            <%#= link_to image_tag asset_path("any.png",size:'135x80'), admin_root_path,style: "object-fit: cover;" %>
              <% else %>
            <%= link_to image_tag("any.png",size:'135x80'), root_path,style: "object-fit: cover;" %>
          <% end %>
        </div>
      </span>


    <ul class="navbar-nav ml-auto">


      <% if customer_signed_in? %>
      <!--カスタマーがログインしている時-->

        <li><%= link_to public_customer_path(current_customer.id),class: 'link' do %>
          <b>Mypage</b>
          <% end %>
        </li>

        <li><%= link_to public_posts_path, class: 'link' do %>
          <b>Index</b>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_customer_session_path,class: 'link', method: :delete do %>
          <b>Log-out</b>
          <% end %>
        </li>



        <% else %>
        <li><%= link_to public_posts_path, class: 'link' do %>
          <b>Index</b>
          <% end %>
        </li>

        <li><%= link_to customer_session_path, class: 'link' do %>
          <b>Log-in</b>
          <% end %>
        </li>

        <li><%= link_to  new_customer_registration_path,class: 'link' do %>
          <b>Sign-up</b>
          <% end %>
        </li>
        <% end %>

    </ul>
  </nav>