<nav class="navbar navbar-expand-lg navbar-light">

  <div class="container">
    <a class="navbar-brand">
    <!--ロゴ部分-->
      <div class="logo">
        <% if admin_signed_in? %>
          <%= link_to  admin_customers_path,style: "object-fit: cover;" do %>
          <%= image_tag 'any.png',size:'135x80' %>
          <% end %>
            <% else %>
          <%= link_to root_path,style: "object-fit: cover;" do %>
          <%= image_tag 'any.png',size:'135x80' %>
          <% end %>
        <% end %>
      </div>
    </a>



<button class="navbar-toggler" type="button" role="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" style="max-width: 30px; text-align: right; margin-right: 10px;">


      <% if customer_signed_in? %>
      <!--カスタマーがログインしている時-->

        <li><%= link_to public_customer_path(current_customer.id),class: 'link' do %>
          <i class="fa-solid fa-user fa-2xl"></i>
          <% end %>
        </li>
          <div class="dropdown-divider"style="1px solid rgba(0, 0, 0, 0.075)"></div>
        <li><%= link_to public_posts_path, class: 'link' do %>
          <i class="fa-solid fa-paw fa-2xl"></i>
          <% end %>
        </li>
          <div class="dropdown-divider" style="1px solid rgba(0, 0, 0, 0.075)"></div>
        <li>
          <%= link_to destroy_customer_session_path,class: 'link', method: :delete do %>
          <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
          <% end %>
        </li>
      <% elsif admin_signed_in? %>
      <!--管理者がログインしている時 -->
        <li><%= link_to public_posts_path, class: 'link' do %>
          <i class="fa-solid fa-paw fa-2xl"></i>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_admin_session_path,class: 'link', method: :delete do %>
          <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
          <% end %>
        </li>


        <% else %>
        <li><%= link_to public_posts_path, class: 'link' do %>
          <i class="fa-solid fa-paw fa-2xl"></i>
          <% end %>
        </li>
          <div class="dropdown-divider"style="1px solid rgba(0, 0, 0, 0.075)"></div>
        <li><%= link_to customer_session_path, class: 'link' do %>
          <i class="fa-solid fa-right-to-bracket fa-2xl"></i>
          <% end %>
        </li>
          <div class="dropdown-divider"style="1px solid rgba(0, 0, 0, 0.075)"></div>
        <li><%= link_to  new_customer_registration_path,class: 'link' do %>
          <i class="fa-solid fa-user-plus fa-2xl"></i>
          <% end %>
        </li>
        <% end %>
      </div>
    </ul>
  </div>
</nav>