<!DOCTYPE html>
<html>
  <head>
    <title>Anymaru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0393e2e04e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <header>
  <%= render "layouts/header" %>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <%= render "layouts/footer" %>
  </footer>

<style>
.slider{
    position: relative
}
.about {
    margin: -80px 0;
    background: #FFFFFF;
    padding: 100px 200px;
    position: absolute
}
.flex {
  display: flex;
}
.purpose {
    margin: 50px;
    margin-top: 150px;
    background: #BAD3FF;
    padding: 70px 20px;
}
.background {
  height: 400px;
  margin: -370px 0px 0px;
  padding: 150px;
  background: #D7EEFF;
}
.messege {
  color: #993333;
  text-decoration: underline;
}

.messege-border {
  width: 360px;
  border: 10px outset #FFFF33;
}

.count-color {
  color: orange;
}

/*.preview-box {*/
/*  width: auto;*/
/*  height: 400px;*/
/*  object-fit: cover;*/
/*}*/
</style>

</html>
