<!DOCTYPE html>
<html>
  <head>
    <title>Anymaru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0393e2e04e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <%= yield %>

        <span id="back">
          <a href="">
            <%= image_tag asset_path('up.png'), data: {"turbolinks"=>false}, class: "arrow" %>
            <!--app/assets/images配下の画像を読み込む-->
          </a>
        </span>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
